.about {
    font-family: halogen !important;
    p {
        font-family: halogen !important;
        word-break: break-all;
    }
    h1 {
        font-size: 88px;
        line-height: 96px;
        //margin-bottom: 30vh;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;

        .oblspan {
            font-weight: 300 !important;
        }
    }

    h2 {
        font-size: 80px;
        line-height: 80px;
        text-transform: uppercase;
    }

    .hero-about-section {
        margin-top: 104px;
        height: auto;
        margin-bottom: 216px;

        .main-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div {
                position: relative;
                left: 10vw;
                top: -24px;
                max-width: 400px;

                img {
                    max-width: 100%;
                }
            }
        }
    }

    .team-section {
        .main-container {
            h2 {
                text-align: right;
                width: 100%;
                margin-bottom: 80px;
                text-decoration: uppercase;
            }
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                div {
                    margin-left: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 45%;

                    p:first-child {
                        margin-bottom: 80px;
                    }
                }

                img {
                    width: 30%;
                    margin-left: 10%;
                }
            }
        }
    }
}
